<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link href="style.c474fc0246b546a32853.css" rel="stylesheet"> --}}
</head>

<body>
    {{!-- <script src="bundle.4bc5fc73cc258a037ecd.js"></script> --}}
</body>

</html>